*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    /* outline: solid black 1px; */
    font-family: sans-serif;
}
header{
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: white;
}
.header-elements{
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-content: center space-between;
    padding: 2rem;
}
.left-header{
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-content: center;
    gap: 2rem;
}
#left-header-app-name{
    display: grid;
    place-content: center;
    padding: 3px;
    font-size: 50px;
    color: #203257;
    font-weight: 700;
}
#left-header-app-name:hover{
    cursor: pointer; 
}
#left-header-nav-bar{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
    place-content: center;
}
.nav-item{
    color: #203257;
    font-weight: 700;
    font-size: 18px;
    transition: 0.3s;
}
.nav-item:hover{
    cursor: pointer; 
    transform: scale(1.1, 1.1);
    transition: 0.3s;
}
.right-header{
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-content: center;
    gap: 5rem;
}
.right-header-item{
    display: grid;
    place-content: center;
    width: 40px;
    padding: 7px;
    transition:0.3s
}
.right-header-item:hover{
    background-color:rgba(184, 184, 184, 0.418);
    cursor: pointer;
    transition:0.3s
}
.right-header-item-icon{
    display: grid;
    place-content: center;
    width:100%
}
#home-h3{
    color: #203257;
    font-weight: 700;
    font-size: 25px;
    padding-left: 3.6rem;
}
.container{
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(4, auto);
    place-content: center;
    gap: 3rem;    
    margin-bottom: 3rem;
    margin-top: 3.2rem;
}
.shop-item-card{
    display: grid;
    grid-template-rows: repeat(4, auto);
    place-content: center;
    transition: 0.5s;
    position: relative;
    margin-left: 1rem;
}
.shop-item-card:hover{
    transform: scale(1.1, 1.1);
    transition: 0.5s;
}
.new-item-note{
    display: grid;
    place-content: end;
    padding-right: 1rem;
    position: absolute;
    right: 0;
    top: -2rem;
}
#note{
    background-color: #1477b2;
    color: white;
    font-weight: 600;
    padding: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.shop-item-card-image{
    width: 250px;
}
.shop-item-card-title,
.shop-item-card-price{
    font-size: 18px;
    color: #203257;
    font-weight: 700;
    padding: 5px 0;
}
.discount-price{
    color: red;
}
.footer-items{
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-content: center space-between;
    background-color: #eee;
}
#footer-items-app-name{
    display: grid;
    place-content: center;
    padding: 3rem 2rem;
    font-size: 35px;
    color: #203257;
    font-weight: 700;
}
.country{
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-content: center;
    gap: 5px;
    padding-right: 2rem;
}
#country-flag{
    display: grid;
    place-content: center;
    width: 15px;
}
#flag{
    display: grid;
    place-content: center;
    width: 100%;
}
#country-name{
    display: grid;
    place-content: center;
    font-size: 20px;
    color: #203257;
    font-weight: 700;
}