<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/forms.css">
</head>

<body>
    <!--FAVOURITE ITEM FORM-->
    <!-- <section class="form-section">
        <form class="favourite-item-form">
            <label class="favourite-form-label">
                <span class="favourite-form-label-text">
                    Search for your favourite items!
                </span>
                <span class="favourite-form-label-x">
                    x
                </span>
            </label>
            <input class="favourite-item-input" type="text" name="favourite" placeholder="Search..." required>
        </form>
    </section> -->

    <!--SIGN IN FORM-->
    <!-- <section class="form-section">
        <form class="sign-in-form">
            <label class="signin-note-x"> <span class="signin-note">Sign in</span> <span class="x-note">x</span>
            </label>
            <label class="email-label">Email
                <input class="email-input" name="input" type="email" required>
            </label>
            <label class="password-label">Password
                <input class="password-input" type="password" name="password" required minlength="3">
            </label>
            <button class="sign-btn" type="submit">Sign in</button>
        </form>
    </section> -->

    <!--BAG FORM-->
    <section class="form-section">
        <form class="">
            <label>
                <span>Bag</span>
                <span>x</span>
            </label>
            <label>
                <div></div>
                <div></div>
                <div></div>
                <button></button>
            </label>
            <label>
                <div></div>
                <div></div>
                <div></div>
                <button></button>
            </label>
            <button class="pay-sum-button">
                <span>PAY NOW:</span>
                <span></span>
            </button>
        </form>
    </section>
</body>

</html>