<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <!-- <section class="product-container">
        <div class="product-image">
            <img class="item-image" src="https://img.hollisterco.com/is/image/anf/KIC_324-1085-0123-100_prod1" alt="">
        </div>
        <div class="product-name-and-add-button">
            <span class="product-title">Crewneck T-Shirt 3-Pack</span>
            <button type="submit" class="add-button">ADD TO BAG</button>
        </div>
    </section> -->
</body>

</html>